body {
    padding-top: 44px;
    background: -webkit-linear-gradient(-45deg,
        #02b3ff 0%,
        #0271ff 100%);
    background: -ms-linear-gradient(-45deg,
        #02b3ff 0%,
        #0271ff 100%);
    background: -o-linear-gradient(-45deg,
        #02b3ff 0%,
        #0271ff 100%);
    background: -moz-linear-gradient(-45deg,
        #02b3ff 0%,
        #0271ff 100%);
    font-family: PingFang-SC-Medium;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
}

.info-box {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.info-box .info {
    display: flex;
    justify-content: space-between;
}

.info-left {
    display: flex;
}

.info-left .icon-dw {
    vertical-align: middle;
}

.info-left .icon-dw img {
    width: 20px;
    height: auto;
    vertical-align: top;
}

.info-left .txt-dw {
    margin-left: 10px;
    font-size: 18px;
    line-height: 1em;
    letter-spacing: 0px;
    color: #ffffff;
    vertical-align: middle;
}

.info-right {}

.info-right .time {
    font-size: 16px;
    line-height: 1em;
    color: #ffffff;
}

.info-right .fb-time {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1em;
    color: #ffffff;
    text-align: right;
}

.content-container {
    margin-top: 24px;
    padding: 0 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .index-item {
    flex: 1;
    flex-basis: 30%;
    margin-bottom: 5px;
    padding: 11px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
}

.content .ml {
    margin-left: 5px;
}

.index-item .item-icon {
    margin-top: 5px;
}

.index-item .item-icon img {
    width: 36px;
    height: auto;
}

.index-item .item-title {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: 0px;
    color: #333333;
}

.index-item .item-des {
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #999;
}

.index-item .item-des {
    display: -webkit-box;
    display: -moz-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    /*显示行数*/
}

.index-item .item-star img {
    width: 12px;
    height: auto;
    vertical-align: top;
}

.index-item .item-star .ml {
    margin-left: 5px;
}

.index-item .item-advice {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 0px;
    color: #02b3ff;
}